.items-container {
  background-color: rgba(68, 68, 68, 0.11);
  border-radius: 10px;
  width: 10em;
  max-height: 20em;
  margin: 3em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 2em 2em;
  transition-duration: 2s;
}
.items-container:hover {
  transition-duration: 1s;
  transform: scale(1.1);
}
@media (max-width: 900px) {
  .items-container:hover {
    transform: scale(1);
  }
}
.item-img {
  font-size: 3em;
  padding: 0.5em;
  cursor: default;
}
.item-name {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em;
}
.item-price {
  color: black;
  font-size: 1.2em;
  padding: 0.5em;
}
.item-btn {
  background-color: rgba(0, 140, 255, 0.123);
  color: white;
  border-radius: 2em;
  border: 1px solid rgba(66, 66, 66, 0.13);
  font-size: 1.2em;
  padding: 0.5em;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 2s;
}
.item-btn:hover {
  background-color: rgba(0, 140, 255, 0.486);
  transition-duration: 2s;
}
@media (max-width: 400px) {
  .items-container {
    width: 5.7em;
  }
  .item-img {
    padding: 0em;
  }
  .item-btn {
    font-size: 0.7em;
  }
  .item-name {
    font-size: 0.7em;
  }
  .item-price {
    font-size: 0.7em;
  }
}
